@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize; 
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(56deg, rgba(255,255,255,1) 0%, rgba(198,198,203,1) 100%, rgba(0,212,255,1) 100%);
}

main {
    padding-top: 1.6rem;
    width: 80vw;
    margin: 0 auto;
}

main > h1 {
    font-size: 3rem;
}

h1 {
    color: #31383F;
}

#pokemonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#listaDePokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 15rem;
}

#listaDePokemons li {
    display: flex;
    flex-direction: column;
    background-color: #49D0B0;
    border-radius: 6px;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 2rem;
    color: #ffff;
    width: 100%;
}

#listaDePokemons li img {
    width: 9rem;
}

.idPokemon {
    color: #2b967d;
    margin-bottom: .2rem;
    text-align: right;
    font-size: 2rem;
}

.cardContainerBaixo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 3rem
}

.atributosPokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    font-size: 1.5rem;
}

.atributosPokemon span {
    padding: .3rem 1rem;
    background-color: rgba(255, 255, 255, 0.371);
    text-align: center;
    border-radius: .7rem;
    cursor: pointer;
}

.atributosPokemon span:hover {
    background-color: rgba(156, 156, 156, 0.655);
}

@media screen and (min-width: 720px) {
    html {
        font-size: 75%;
    }

    #listaDePokemons li {
    width: auto; }
}